testikoodi
[{"id":"aaad80d1.f5b27","type":"ibmiot in","z":"2186b571.d33f7a","authentication":"apiKey","apiKey":"dd9a2bb1.8c5558","inputType":"evt","deviceId":"anti123device","applicationId":"","deviceType":"+raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":true,"qos":"0","x":124,"y":142,"wires":[["de722cd3.7cc06"]]},{"id":"40d5b090.b669b","type":"debug","z":"2186b571.d33f7a","name":"","active":true,"console":"false","complete":"false","x":510,"y":102,"wires":[]},{"id":"de722cd3.7cc06","type":"function","z":"2186b571.d33f7a","name":"","func":"//msg.payload = {\"d\":{\"temp\":msg.payload.replace(\"temp=\",\"\").replace(\"'C\\n\",\"\")}};\nmsg.payload = msg.payload.d.temp;\nreturn msg;","outputs":1,"noerr":0,"x":334,"y":202,"wires":[["40d5b090.b669b"]]},{"id":"dc3100b9.fc35a","type":"inject","z":"2186b571.d33f7a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":202,"y":348,"wires":[["410008a3.110f58"]]},{"id":"e94b7a9b.c23c48","type":"ibmiot out","z":"2186b571.d33f7a","authentication":"apiKey","apiKey":"dd9a2bb1.8c5558","outputType":"evt","deviceId":"anti123device","deviceType":"0.16.2","eventCommandType":"timestamp","format":"json","data":"timestamp","qos":"1","name":"IBM IoT","service":"registered","x":686,"y":251,"wires":[]},{"id":"410008a3.110f58","type":"function","z":"2186b571.d33f7a","name":"","func":"msg.payload.number = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":477,"y":287,"wires":[["e94b7a9b.c23c48"]]},{"id":"ff991aa8.f16ea8","type":"debug","z":"2186b571.d33f7a","name":"","active":true,"console":"false","complete":"false","x":566,"y":413,"wires":[]},{"id":"dd9a2bb1.8c5558","type":"ibmiot","z":"","name":"yytvf9","keepalive":"60","domain":"","cleansession":true,"appId":"","shared":true}]
